/* Style the body */
.home {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: white;
  color: black
}

/* Header/logo Title */
.header {
  padding: 8px;
  text-align: center;
  background: black;
  color: white;
}

.image1 {
  border-radius: 50%;
  max-width: 50%;  
  height: auto; 
}

.image2 {
  max-width: 50%;
  height: auto;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}
