{% extends "layout.html" %}
{% block content %}
	<div class="home">
		<div class="row">
			<div class="column">
				<br>
				<img src="{{url_for('static', filename='profile.jpeg')}}" class="image1">
				<br>
				<img src="{{url_for('static', filename='prudue2.png')}}" class="image2">
			</div>
			<div class="column">			
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <p1>
					Educational Background:<br>
					<br>
					Loyola University Chicago<br>
					Chicago, Illinios<br>
					Bachelor of Science: Computer Science, 2021<br>
					<br>
					Loyola University Chicago<br> 
					Chicago, Illinios<br>
					Master of Science: Computer Science, Expected May 2023<br>
				</p1>
				<br>
				<br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
				<p2>
					Projects:<br>
					<br>
					Computer Vision Edge Network:<br>
					Implemented cluster of Raspberry Pi's to distribute computer vision workload.<br>
					Net-booted cluster of Raspberry Pi's off TFTP server and NFS server.<br>
					Created costume router for cluster network.<br>
					Developed web servive to monitor and mantain cluster network.<br>
					<br>
					Secure Automatious Car Commutation:<br>
					Created system with Xbox Kinect to make point clouds of cars environment.<br>
					Used these views of the environment to create keys.<br>
					Established secure line of commutation with environmental keys.<br>
					Allows for secure richer view of a cars environment.<br>
				</p2>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
			</div>
		</div>
	</div>
{% endblock %}
