{% extends "layout.html" %}
{% block content %}
	<div class="home" id="home">
		<div class="intro" id="intro">
			<div class="row">
				<div class="column">
					<div class="profilepic">
						<img src="static/pics/profile.jpeg" class="profile">
					</div>
				</div>
				<div class="column">
					<div class="introtext" id="introtext">
						<p1>
							Contact information:<br>
							<br>
							jveselsky[@]luc.edu<br>
							<br>
                     		<br>
							Educational Background:<br>
                     		<br>
                    		Loyola University Chicago<br>
                     		Chicago, Illinios<br>
                     		Bachelor of Science: Computer Science, 2021<br>
                     		<br>
                     		Loyola University Chicago<br>
                     		Chicago, Illinios<br>
                     		Master of Science: Computer Science, Expected May 2023<br>
                     	</p1>
                	</div>
				</div>
			</div>
		</div>
		<div class="projects" id="projects"> <p2> Projects: </p2> </div>
		<div class="vis" id="vis">
			<div class="row">
                <div class="column">
                    <div class="vistext" id="vistext">
						<p3>
		        			Computer Vision Edge Network:<br>
        					<br>
            				Implemented cluster of Raspberry Pi's to distribute computer vision workload.<br>
        					Net-booted cluster of Raspberry Pi's off TFTP server and NFS server.<br>
                			Created costume router for cluster network.<br>
        					Developed web servive to monitor and mantain cluster network.<br>
       					</p3>
					</div>
				</div>
				<div class="column">
                    <div class="vispic">
						<img src="static/pics/prudue2.png" class="prudue">
					</div>
                </div>
			</div>
		</div>
        <div class="car" id="car">
			<div class="row">
                <div class="column">
                    <div class="cartext" id="cartext">
						<p4>
		     				Secure Automatious Car Commutation:<br>
                     		<br>
		     				Created system with Xbox Kinect to make point clouds of cars environment.<br>
            				Used these views of the environment to create keys.<br>
         					Established secure line of commutation with environmental keys.<br>
                     		Allows for secure richer view of a cars environment.<br>
                		</p4>
					</div>
				</div>
				<div class="column">
                    <div class="carpic">
                        <img src="static/pics/intersection.jpeg" class="intersection">
                    </div>
                </div>
			</div>
        </div>
		<script src="static/javascript/script.js"></script>
	</div>
{% endblock %}
